
.item-form{
    display:flex;
    flex-direction: column;

}

.submit-btn{
    border:0px;
    height:34px;
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(0,115,177);
    font-size:1.2rem;   
    background:#fff;
    outline:none;
    cursor: pointer;
    width:120px;
    align-self: center;
}
